.container {
  height: 100vh;
  width: 100%;
  background: image-set(
      url("../../src/assets/img/Hero image 1x.png") 1x,
      url("../../src/assets/img/Hero image 2x.png") 2x
    )
    no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
}

.heading {
  margin-top: 504px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
}

.description {
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
}

.btn {
  font-weight: 600;
  width: 276px;
  height: 44px;
  padding: 12px 88px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  background-color: var(--button);
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  margin-bottom: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: var(--button-hover);
}
