.info_rightColumn {
  max-width: 488px;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
}

.info_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}

.info_id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin-bottom: 8px;
}

.info_locationRow {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #101828;
}

.info_icon {
  stroke: #101828;
  width: 16px;
  height: 16px;
}

.info_mileage {
  color: #101828;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.info_price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.info_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 60px;
}

.info_sectionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.info_subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.info_listItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
